#app-title{
    background-color: hsl(0, 77%, 45%);
    text-align: center;
    font-size: xxx-large;
    font-family: 'Bebas Neue';
}

#user-image{
    display: block;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vh;
    width: 15vw;
}

#enemy-image{
    display: block;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vh;
    width: 15vw;
}

#user-info{
    background-color: hsl(115, 36%, 60%);
    margin-top: 2vh;
    margin-right: 3vw;
    float: right;
    width: 33vw;
    height: 85vh;
}

#enemy-info{
    background-color: hsl(347, 41%, 57%);
    margin-top: 2vh;
    margin-left: 3vw;
    float: left;
    width: 33vw;
    height: 85vh;
}

#fight-button{
    background-color: hsl(0, 77%, 45%);
    border-radius: 10px;
    border: 4px double #70b7d3;
    color: #000000;
    font-family: 'Bebas Neue';
    text-align: center;
    font-size: xx-large;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
    
#user-next-button{
    background-color: hsl(115, 36%, 60%);
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #000000;
    font-family: 'Bebas Neue';
    text-align: center;
    font-size: xx-large;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
    float: right;
}


#enemy-next-button{
    background-color: hsl(347, 41%, 57%);
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #000000;
    font-family: 'Bebas Neue';
    text-align: center;
    font-size: xx-large;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
    float: left;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
      
button:hover {
    background-color: #f7c2f9;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}